<p class="admin" style="color: red;"><%= flash[:error] %></p>
<p class="admin" style="color: green;"><%= flash[:notice] %></p>
<% form_tag sessions_path do %>
  Password: <%= password_field_tag :password %>
  <%= submit_tag "Login" %>
<% end %>
<%= link_to "Home page", home_path %>
