<h1>New resource</h1>

<% form_for @resource, :html => {:multipart => true} do |f| %>
<%= f.error_messages %>
<p>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</p>
<div class="files">
  <% f.fields_for :resource_files do |builder| %>
    <% if builder.object.new_record? %>
    <p>
      <%= builder.label :file %><br />
      <%= builder.file_field :file %>
    </p>
    <% end %>
  <% end %>
</div>
<p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
</p>
<div class="links">
  <% f.fields_for :event_links do |builder| %>
    <% if builder.object.new_record? %>
      <p>
        <%= builder.label :title %><br />
        <%= builder.text_field :title %>
      </p>
      <p>
        <%= builder.label :url %><br />
        <%= builder.text_field :title %>
      </p>
    <% end %>
  <% end %>
</div>
<p>
  <%= f.submit 'Create' %>
</p>
<% end %>
