<% content_for :main_title do %>
  <%= image_tag "Resources title.gif" %>
<% end %>

<h1><%=h @resource.name %></h1>
<p><%=h @resource.description %></p>

<hr />
<% unless @resource.resource_files.blank? %>
  <h4>Resources:</h4>
  <ul class="resource-list">
  <% @resource.resource_files.each do |file| %>
    <li><%= link_to file.file_file_name, file.file.url %></li>
  <% end %>
  </ul>
<% else %>
  No resources
<% end %>

<% unless @resource.event_links.blank? %>
  <h4>Links:</h4>
  <ul class="resource-list">
  <% @resource.event_links.each do |link| %>
    <% if not link.title.blank? %>
      <li><%= link_to link.title, link.url %></li>
    <% end %>
  <% end %>
  </ul>
<% end %>

<% content_for :right_col do %>
  <h2>MORE RESOURCES</h2>
  <ul>
    <li>
      <% @resources.each do |resource| %>
        <% link_to resource do %>
          <strong><%= resource.name %></strong><br />
        <% end %>
      <% end %>
    </li>
  </ul>
<% end %>
